<!-- <div id="todo"> -->
<!--   <div class="toolbox">
    <form action="/add_todo" method="post">
      <input type="text" class="todo" value="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    <!-- </form> -->
  <!-- </div> -->

<div class="todo_container container">

  <div id="todo">

  </div>

  <div id="todo_template" class="hide">
    <div class="todo hidden_button_parent">
      <h3 class="inline">Todo Name</h3>
      <ul class="inline shift">
        <li class="inline hidden_button"><span class="icon_button complete">&#xe600;</span></li>
        <li class="inline hidden_button"><span class="icon_button delete">&#xe601;</span></li>
      </ul>
    </div>
  </div>
  <div class='clearfix'></div>
</div>


