  <div id="todo-list">

  </div>

  <div id="todo_template" class="hide">

    <div class="todo">
      <p class="todo-content">Todo Name</p>
      <ul class="controls">
        <li class="inline"><span class="icon complete">&#xe600;</span></li>
        <li class="inline"><span class="icon delete">&#xe601;</span></li>
      </ul>
    </div>

  </div>